<!DOCTYPE html>
<html>

<head>

<title>Forgot Password</title>

<style>

body{
    font-family:Arial;
    background:#f0f2f5;
    text-align:center;
}

.container{
    width:400px;
    margin:auto;
    margin-top:80px;
    background:white;
    padding:30px;
    border-radius:10px;
}

input{
    width:90%;
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
}

</style>

</head>

<body>

<div class="container">

<h1>Forgot Password</h1>

<form action="/reset_password"
      method="POST">

<input type="text"
       name="regno"
       placeholder="Enter Register Number"
       required>

<br>

<input type="password"
       name="new_password"
       placeholder="Enter New Password"
       required>

<br><br>

<button type="submit">

Reset Password

</button>

</form>

</div>

</body>
</html>